[run]
branch = True
include = disqus_be/*
omit = disqus_be/core_app/migrations/*
       disqus_be/core_app/tests/*
       disqus_be/settings.py
       disqus_be/urls.py
       disqus_be/wsgi.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = False

[html]
directory = reports/htmlcov

[xml]
output = reports/coverage.xml